h1 {
  font-family: Rubik, sans-serif;
  font-size: 1.5em;
}

.board {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  filter: brightness(0%) blur(20rem);
}

.top {
  font-family: 'Space Mono', monospace;
}

.square {
  background-color: rgba(3, 78, 2, 0.5);
  width: 11rem;
  height: 11rem;
  margin: 0.8rem;
}

.rect {
  width: 11rem;
  height: 5rem;
  margin: 0.8rem;
}

.lg-rect {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin: 0.8rem;
}

.sm-sq {
  width: 6rem;
  height: 6rem;
  margin: 0.8rem;
}

.playerarea {
  display: flex;
  flex-direction: row;
  align-items: space-around;
  margin-top: 1rem;
  background-color: rgba(159, 246, 81, 0.37);
}

.hand {
  border: 1px solid grey;
  background-color: rgba(87, 95, 145, 0.43);
}

.cardslot {
  border: 1px solid grey;
  background-color: rgba(232, 190, 164, 0.4);
}

.card {
  position: relative;
  top: -0.8rem;
  left: -0.8rem;
  background-color: rgba(232, 190, 164, 0.9);
}

.deck {
  background-color: rgba(57, 202, 224, 0.4);
}

.draw {
  border: 1px solid grey;
  background-color: rgba(177, 169, 181, 0.57);
}

.discard {
  border: 1px solid grey;
  background-color: rgba(68, 119, 113, 0.67);
}

.playerbox {
  display: flex;
  flex-direction: row;
  background-color: rgba(124, 133, 114, 0.3);
  margin-top: 1rem;
}

.crew {
  border: 1px solid grey;
  background-color: rgba(116, 63, 101, 0.4);
}

.credits {
  background-color: rgb(250, 254, 72);
}

#corpscore,
#playerscore,
.clicks,
.credits {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clicks {
  background-color: rgb(84, 228, 237);
}

#playerscore {
  background-color: rgba(126, 148, 238, 0.67);
}

#corpscore {
  background-color: rgba(218, 12, 5, 0.7);
}

.corpside {
  display: flex;
}

.server {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
}

.bank {
  display: flex;
  justify-content: flex-start;
}

.truck {
  background-image: url("../img/truck.png");
  background-position: center;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  display: none;
}

.secslot {
  background-color: rgba(209, 159, 132, 0.2);
}

.security {
  position: relative;
  top: -0.8rem;
  left: -0.8rem;
  background-color: rgba(33, 17, 166, 0.9);
}

.marker {
  display: none;
  position: relative;
  opacity: 0;
  text-align: center;
  z-index: 100;
}

.run-arrow {
  position: relative;
  top: 0;
  opacity: 0;
  text-align: center;
  animation: fadein 0.5s;
}

.run-arrow:hover {
  opacity: 0.5;
}
/* SPECIAL FX */
.glow {
  box-shadow: 0 0 15px 5px rgba(255, 255, 190, 0.75);
}

.focused {
  box-shadow: 0 0 15px 5px rgba(58, 244, 19, 0.83);
}

.popup {
  display: none;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  text-align: center;
  top: 50%;
  left: 50%;
  z-index: 999;
  box-shadow: 0 0 20px #999;
  border-radius: 3px 3px 3px 3px;
}

.popup h2 {
  font-family: Rubik, sans-serif;
  font-size: 1.8em;
}

.popup p {
  font-family: Montserrat, sans-serif;
  font-weight: light;
  font-size: 1em;
  line-height: 1.4;
}

.ui-dialog-titlebar-close {
  display: none;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Rubik, sans-serif;
  text-transform: uppercase;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: 2.0em;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  color: #d7d7d7;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
  background: -moz-linear-gradient(top, #666, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#666666', endColorstr='#000000'))))))))))))))))))))))))))))))
}

button:hover {
  text-decoration: none;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
  background: -moz-linear-gradient(top, #444, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#444444', endColorstr='#000000'))))))))))))))))))))))))))))))
}

button:active {
  position: relative;
  top: 1px;
  color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
  background: -moz-linear-gradient(top, #000, #444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#000000', endColorstr='#666666')))))))))))))))))))))))))))));
}

.ui-dialog-buttonset {
  text-align: center;
}